<!DOCTYPE html>
<html lang="en">
<head>
    <title>Claims</title>
</head>
<body>
    <h1>Claims retrieved at {{ date }}</h1>
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tgr{vertical-align:top}
    </style>
    <table class="tg">
        <tr>
            {% for col in cols %}
                <th class="tgr">{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in rows %}
            <tr>
                {% for col in cols %}
                    <td class="tgr">{{ row[col] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>